/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@charset "utf-8";
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src: url(./NanumGothic-Regular.eot),
       url(./NanumGothic-Regular.woff2) format('woff2'),
       url(./NanumGothic-Regular.woff) format('woff'),
       /*url(./NanumGothic-Regular.ttf) format('truetype');*/
}
