/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@charset "utf-8";
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src: url(./nanumsquarer.eot),
       url(./nanumsquarer.woff) format('woff'),
       url(./nanumsquarer.ttf) format('truetype');
}
