<!DOCTYPE html>
<html>
<!--
<style>

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

</style>
-->
<style type="text/css">

@import url('font/nanumgothic.css');
body, table, div, p{ font-family:'Nanum Gothic', sans-serif;}

#wrapper{
	width:1280px;
	margin:0 auto;
}

header {  
  height: 30px;
  padding: 1rem;
  color: white;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

</style>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ISMS-P</title>
</head>

<header>
  <h1>ISMS-P</h1>
  <nav>
    
	<img src="./aws.png" style="height:30px; padding-right:10px;"/>
  	<img src="./infosec_ci.png" style="height:35px; padding-bottom:5px"/>
  </nav>
 </header>
<body>
	<div style="float:right">
		<select onchange="location.href=this.value">
			<option value="./index.html">KO</option>
			<option value="./index_en.html"  selected="selected">EN</option>
		</select>
	</div>
<div id = "wrapper" style="margin-bottom:70px;">


	<div>

		<h2> <img src="dot.png"/> ISMS-P  </h2>
		<p style="margin-left:20px; line-height:30px;">
		<b>• ISMS-P stands for the integrated management system certification of information protection and personal information protection. <br>
		　The check items of ISMS(Information Security Management System) and PIMS(Personal Information Management System) that were  <br>
		　previously operated separately are similar. As a result of the separate operation of the two certifications, there was confusion  <br>
		　in the company, incurring financial and manpower burdens.<br>
		　In order to prevent such inconvenience, it has been integrated in accordance with related laws (Article 47 of the “Act on Promotion of <br>
		　Information and Communications Network Utilization and Information Protection”, Article 47-3, and Article 32-3 of Personal <br>
		　Information Protection Act).<br>
		• Currently, there are two types of certification, ISMS and ISMS-P, and the outline is as follows.<br>
		</b>
		<br>
		
		<img src="ismsp_en.png" /><br>
		<br>
		</p>
		<h2> <img src="dot.png"/> AWS Professional Services – Security Risk & Compliance Consultant (SRC) </h2>
		<p style="margin-left:20px; line-height:30px;">
		<b>
		• SCR will collaborate with customers and partners to Design, build and optimize security, DevOps , cloud migration to help accelerate <br>
		　business value by providing a secure cloud operating environment. <br>
		• SRC helps protect customer environment and data with best practices, methodology for effectively manage security risks and assist  
		<br>　customer to develop technical competencies.
		</b>
		<br>
		</p>

		
		<h2> <img src="dot.png"/> SK infosec Information Security Management System-Personal(ISMS-P) certification consulting </h2>
		<p style="margin-left:20px; line-height:30px;">
		<b>
		• SK infosec is the No. 1 security consulting partner in Korea and has a history of exceptional performance, proven ability, <br>
		　and differentiated quality that provides the best solutions and values. <br>
		• SK infosec’s security consulting has different areas of expertise digital security, compliance, information protection management system, <br>
		　privacy protection, new ICT, and so on to provide the most efficient strategies for information protection and system improvement. <br>
		• SK infosec comply with compliance by applying ISMS-P consulting service based on professional and systematic methodology and security <br>
		　technology from various perspectives.<br>
		</b>
		<br>
		</p>

	</div>
	
	
</div>


</body>

</html>
